.header{
    color: #fc892a;

}

.cover {
    font-style: italic;
}

.menu {
    color: #f8ab6b;
}

.h3 {
    color: #fc892a;
}

.contact {
    color: #f8ab6b;
    font-size: 12pt;
    text-align: center;
}